/*
0px			- 		600px:			mobile 		--> Mobile First Approach 
											   	    (where normal styles apply)
600px		- 		900px: 			tab-port 	-->	Tablet Portrait 
900px		-		1200px:			tab-land	-->	Tablet Landscape
1200px		-		1800px:			desk		-->	Desktop 
1800px +							big-desk	-->	Big Desktop

REMEMBER: 1em = 16px;
$breakpoint argument choices
	- tab-port and >	600 --> 900 	: min-width: 37.5em (600/16)
	- tab-land and >	900 --> 1200	: min-width: 56.25em (900/16)
	- desk and >		1200 --> 1800	: min-width: 75em (1200/16)
	- big-desk and >    1800 +			: min-width: 112.5em (1800/16)

ORDER: base + typography > general layout + grid > page layout > components

*/
@keyframes animateNavLink {
  0% {
    background-position: 100%;
  }
  50% {
    background-position: 50%;
  }
  100% {
    background-position: 0%;
  }
}
@keyframes animateNavListContainerMoveIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes animateNavListContainerMoveOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animateNavItemsMoveIn {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes animateNavItemsMoveOut {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(200px);
    opacity: 0;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  /* 	1rem is equal to 10px */
  /* 	because 10px / 10 is equal to 1rem */
  /* 	therefore 30px is equal to 3rem */
  /* 	the default font size of the browser is 16px */
  /* 	10px / 16px *100 = 62.5% */
  font-size: 62.5%;
}
@media (min-width: 37.5em) {
  html {
    /* 	12px / 16px *100 = 75% */
    font-size: 75%;
  }
}
@media (min-width: 56.25em) {
  html {
    /* 	13px / 16px *100 = 81.25% */
    font-size: 81.25%;
  }
}
@media (min-width: 75em) {
  html {
    /* 	15px / 16px *100 = 93.75% */
    font-size: 93.75%;
  }
}
@media (min-width: 112.5em) {
  html {
    /* 	18px / 16px *100 = 112.5% */
    font-size: 112.5%;
  }
}

body {
  /* This makes dealing with the sizes of elements much easier, 
  	and generally eliminates a number of pitfalls you can stumble on
  	 while laying out your content. */
  /* The width and height properties include the content, padding, and border, 
  	but do not include the margin.  Note that padding and border will be inside 
  	of the box. */
  box-sizing: border-box;
  position: relative;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  color: #1E2020;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

.primaryHeading {
  color: #f0f0f0;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}
.primaryHeading__headline {
  font-size: 2.1rem;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 1;
}
.primaryHeading__headline--prot {
  color: #CD4536;
}
.primaryHeading__headline--phar {
  color: #6CB347;
}

.headingH2Container__headingH2 {
  color: #55F5FF;
  font-family: "Alegreya SC", serif;
  font-size: clamp(calc(2.6rem + 3vh - 2rem), 11vw, calc(6.2rem + 3vh - 2rem));
  font-weight: 900;
  line-height: 1;
  letter-spacing: 4px;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.8);
}
.headingH2Container__subheadingH2 {
  color: #CD4536;
  font-family: "Caveat", cursive;
  font-size: clamp(calc(2.8rem + 2.3vh - 2rem), 8vw, calc(5rem + 2.3vh - 2rem));
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
}

.headingH3Container {
  font-family: "Lato", sans-serif;
  text-align: center;
}
.headingH3Container__headingH3 {
  color: #f0f0f0;
  font-size: clamp(calc(1.9rem + 2.3vh - 2rem), 4vw, calc(2.6rem + 2.3vh - 2rem));
  font-weight: 900;
  line-height: 1;
  letter-spacing: 2px;
}
.headingH3Container__headingH3--blue {
  color: #03427C;
}
.headingH3Container__headingH3--blue {
  color: #03427C;
  font-size: clamp(calc(2.8rem + 2.3vh - 2rem), 8vw, calc(5rem + 2.3vh - 2rem));
}
.headingH3Container__subheadingH3 {
  color: #CD4536;
  font-size: clamp(calc(1.7rem + 2.3vh - 2rem), 4vw, calc(2.3rem + 2.3vh - 2rem));
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
}

.paragraph {
  color: #03427C;
  font-size: clamp(calc(2.1rem + 2.3vh - 2rem), 4.3vw, calc(2.5rem + 2.3vh - 2rem));
  font-weight: 700;
  text-align: center;
}
.paragraph--white {
  color: #f0f0f0;
}
.paragraph--projects {
  font-size: clamp(calc(1.7rem + 2.3vh - 2rem), 4vw, calc(2.1rem + 2.3vh - 2rem));
  text-align: center;
}
.paragraph--skills {
  color: #72251D;
  text-align: center;
}
.paragraph--contactItem {
  font-size: clamp(calc(1.7rem + 2.3vh - 2rem), 4vw, calc(2.1rem + 2.3vh - 2rem));
  text-align: center;
}

.btn {
  font-weight: 900;
  letter-spacing: 1px;
}
.btn--primary-white {
  color: #CD4536;
  font-size: clamp(calc(1.2rem + 1.2vh), 4vw, calc(1.6rem + 1.2vh));
}
.btn--primary-white-btn {
  color: #CD4536;
  font-size: clamp(calc(1.9rem + 2.3vh - 2rem), 4vw, calc(2.6rem + 2.3vh - 2rem));
}
.btn--primary-blue {
  color: #f0f0f0;
  font-size: clamp(calc(1.2rem + 1.2vh), 4vw, calc(1.6rem + 1.2vh));
}
.btn--primary-blue-btn {
  color: #f0f0f0;
  font-size: clamp(calc(1.9rem + 2.3vh - 2rem), 4vw, calc(2.6rem + 2.3vh - 2rem));
}
.btn--secondary {
  color: #f0f0f0;
  font-size: clamp(calc(.8rem + 1.2vh), 3.9vw, calc(1rem + 1.2vh));
}
.btn--secondary-btn {
  color: #f0f0f0;
  font-size: clamp(calc(1.7rem + 2.3vh - 2rem), 4vw, calc(2.3rem + 2.3vh - 2rem));
}

.logo__text--devName {
  color: #f0f0f0;
  font-family: "Alegreya", serif;
  font-size: clamp(1.6rem, 5vw, 2.5rem);
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), 2px 2px 2px rgba(0, 0, 0, 0.7), 3px 3px 2px rgba(0, 0, 0, 0.7), 4px 4px 2px rgba(0, 0, 0, 0.7);
}

.about__section {
  text-align: justify;
}

.footer {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2;
}
.footer__legal {
  color: #CD4536;
}
.footer__copyright {
  color: #6CB347;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-xtrasmall {
  margin-bottom: 0.5rem;
}

.u-margin-top-xtrasmall {
  margin-top: 1rem;
}

.u-margin-right-xtrasmall {
  margin-right: 0.5rem;
}

.btn:link, .btn:visited {
  display: block;
  border: 2px solid #898989;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.5);
  width: fit-content;
  margin: 0 auto;
  backface-visibility: hidden;
  transition: all 0.2s;
}
.btn:link--primary-white, .btn:visited--primary-white {
  background-color: #f0f0f0;
  padding: 0.125em 1em;
}
.btn:link--primary-white-btn, .btn:visited--primary-white-btn {
  background-color: #f0f0f0;
  padding: 0.125em 1em;
}
.btn:link--primary-blue, .btn:visited--primary-blue {
  background-color: #03427C;
  padding: 0.125em 1em;
}
.btn:link--primary-blue-btn, .btn:visited--primary-blue-btn {
  background-color: #03427C;
  padding: 0.125em 1em;
}
.btn:link--secondary, .btn:visited--secondary {
  background-color: transparent;
  padding: 0.075em 0.75em;
}
.btn:link--secondary-btn, .btn:visited--secondary-btn {
  background-color: transparent;
  padding: 0.075em 0.75em;
}

.btn {
  display: block;
  border: 2px solid #898989;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.5);
  width: fit-content;
  margin: 0 auto;
  backface-visibility: hidden;
  transition: all 0.2s;
}
.btn--primary-white {
  background-color: #f0f0f0;
  padding: 0.125em 1em;
}
.btn--primary-white-btn {
  background-color: #f0f0f0;
  padding: 0.125em 1em;
}
.btn--primary-blue {
  background-color: #03427C;
  padding: 0.125em 1em;
}
.btn--primary-blue-btn {
  background-color: #03427C;
  padding: 0.125em 1em;
}
.btn--primary:hover {
  border: 5px solid #f0f0f0;
  background-color: #898989;
  box-shadow: 0px 8px 40px 3px rgba(0, 0, 0, 0.7);
  transform: translateY(-3px);
}
.btn--secondary {
  background-color: transparent;
  padding: 0.075em 0.75em;
}
.btn--secondary-btn {
  background-color: transparent;
  padding: 0.075em 0.75em;
}
.btn--secondary:hover {
  border: 5px solid #f0f0f0;
  background-color: #898989;
  box-shadow: 0px 8px 40px 3px rgba(0, 0, 0, 0.7);
  transform: translateY(-3px);
}

.btn:active {
  border-top-color: #898989;
  border-left-color: #898989;
  border-bottom-color: #d7d7d7;
  border-right-color: #d7d7d7;
  background-color: #d7d7d7;
  box-shadow: none;
  transform: translateY(2px);
}

.cardPortfolio {
  background-color: #03427C;
  border-radius: 0.25rem;
  max-width: 450px;
  padding: 2.5rem;
  margin: 0 auto 4rem;
}
.cardPortfolio__figure {
  margin-bottom: 1.5rem;
}
.cardPortfolio__img {
  border: 3px solid #f0f0f0;
  border-radius: 0.25rem;
  width: 100%;
}
.cardPortfolio__headingH3Container {
  margin-bottom: 1rem;
}
.cardPortfolio__paragraph {
  margin-bottom: 2rem;
}
.cardPortfolio__cta {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (min-width: 485px) {
  .cardPortfolio__cta {
    flex-direction: row;
    gap: 0;
  }
}

.figure__img {
  width: 100%;
}

.cardSkills {
  background-color: #f0f0f0;
  max-width: 450px;
  padding: 2.5rem;
  margin: 0 auto 4rem;
}
.cardSkills__figure {
  margin-bottom: 3rem;
}
.cardSkills__img {
  display: block;
  width: clamp(15rem, 35vw, 30rem);
  margin: 0 auto;
}
.cardSkills__headingH3 {
  margin-bottom: 1rem;
}
.form {
  padding-bottom: 4rem;
  margin-bottom: 4rem;
}
.form__inputAndBtnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 1rem;
  padding: 2rem 2rem;
}
.form__inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 0;
}
.form__input {
  border: 3px solid #03427C;
  width: 100%;
  height: 3.5rem;
}
.form__textArea {
  border: 3px solid #03427C;
  width: 100%;
  height: 15rem;
}
.form__btn {
  margin: 2rem auto;
}

.primaryHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1E2020;
  padding: 2rem;
  gap: 1rem;
}
.primaryHeading__headline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.primaryHeading__headlineText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.headingH2Container {
  margin: 0 0 2rem;
}
.headingH2Container__hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(3, 66, 124, 0.75) 20%, rgba(3, 66, 124, 0.4) 40%, rgba(0, 0, 0, 0) 60%);
  margin: 0.15rem 0 0.5rem;
}
.headingH2Container__subheadingH2 {
  margin-left: clamp(3rem, 12vw, 12rem);
}

.headingH3Container {
  margin: 0 0 2rem;
}
.headingH3Container--contactInfo {
  margin-top: 8rem;
}
.headingH3Container--messageMe {
  margin: 8rem 0 0;
}
.headingH3Container__hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba(240, 240, 240, 0.4) 35%, rgba(240, 240, 240, 0.75) 50%, rgba(240, 240, 240, 0.4) 75%, rgba(0, 0, 0, 0) 90%);
  margin: 0.75rem 0;
}
.headingH3Container__hr--blue {
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba(3, 66, 124, 0.4) 35%, rgba(3, 66, 124, 0.75) 50%, rgba(3, 66, 124, 0.4) 75%, rgba(0, 0, 0, 0) 90%);
  margin: 0.75rem auto;
}
.headingH3Container--skills {
  margin: 0 0 0rem;
}

.headingH4 {
  margin-bottom: 1rem;
}

.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f0f0f0 45%, #55F5FF);
  padding: 0 0 2rem 0;
  gap: 2rem;
}

.logo {
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s;
  z-index: 100;
}
.logo__img {
  display: block;
  height: auto;
  width: clamp(3.5rem, 11vw, 6rem);
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: clamp(.75rem, 2vw, 1.25rem);
}
.hamburgerBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  background-color: transparent;
  width: 3rem;
  height: 4.6rem;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: relative;
  z-index: 100;
  backface-visibility: hidden;
}
.hamburgerBtn__hamburgerBar {
  background-color: #f0f0f0;
  width: 100%;
  height: 3px;
}
.hamburgerBtn__hamburgerBar--top, .hamburgerBtn__hamburgerBar--middle, .hamburgerBtn__hamburgerBar--bottom {
  position: absolute;
  left: 0;
}
.hamburgerBtn__hamburgerBar--top {
  top: 32%;
  transition: all 0.5s;
}
.hamburgerBtn__hamburgerBar--middle {
  top: 50%;
  transition: opacity 3s;
}
.hamburgerBtn__hamburgerBar--bottom {
  top: 67%;
  transition: all 0.5s;
}
.hamburgerBtn__hamburgerBar--transparent {
  opacity: 0;
  transition: all 0s;
}
.hamburgerBtn:hover > .hamburgerBtn__hamburgerBar--top {
  transform: translateY(-2px);
}
.hamburgerBtn:hover > .hamburgerBtn__hamburgerBar--bottom {
  transform: translateY(2px);
}
.navbar > .hamburgerBtn > .hamburgerBtn__hamburgerBar--right {
  transform: rotate(135deg);
  height: 4px;
  top: 50%;
}
.navbar > .hamburgerBtn > .hamburgerBtn__hamburgerBar--left {
  transform: rotate(-135deg);
  height: 4px;
  top: 50%;
}

.navList--displayNone {
  display: none;
}

.navList--display {
  display: flex;
}

.navList {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to bottom, rgba(3, 66, 124, 0.8), rgba(30, 32, 32, 0.9) 20%), url("../../img/hero/hero-background-img.webp");
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 15rem 3rem;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 1;
  z-index: 0;
}
.navList__navItem {
  margin-bottom: 1rem;
}
.navList__navLink {
  color: transparent;
  font-size: 2.5rem;
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url("../../img/backgroundImages/bgAnimateTextWallpaper.png");
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: 100%;
  position: relative;
  z-index: 100;
  transition: all 0.4s;
}
.navList__navLink::after {
  content: "";
  background-color: #C1121F;
  height: 2px;
  width: 99%;
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: -100;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0s;
}
.navList__navLink:hover::after {
  transform: scaleX(1);
  transition: 0.4s ease-in;
}
.navList__navLink:hover {
  animation: animateNavLink 0.4s ease-in 1 forwards;
}
.navList .navFrame {
  background: linear-gradient(to bottom right, #cd4536 5%, rgba(114, 37, 29, 0.8) 20%, rgba(3, 66, 124, 0.9) 75%, rgba(85, 245, 255, 0.6));
  border-bottom: 1px solid #d7d7d7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navList--navListMoveIn {
  animation: animateNavListContainerMoveIn 0.4s ease-out forwards;
}

.navList--navListMoveOut {
  animation: animateNavListContainerMoveOut 0.4s ease-out 0.8s forwards;
}

.navItem--moveIn {
  animation: animateNavItemsMoveIn 0.4s ease-out forwards;
}

.navItem--moveOut {
  animation: animateNavItemsMoveOut 0.3s ease-in forwards;
}

.paragraph {
  margin: 0 auto 2rem;
}

.paragraph:last-of-type {
  margin: 0 auto 4rem;
}

.cardSkills .paragraph--skills {
  margin: 0 auto 0;
}

.contactSection .paragraph:last-of-type {
  margin: 0 auto 1rem;
}

.contactSection__contactItem > .contactItem__paragraph.paragraph {
  margin: 0;
}

#portfolioParagraph {
  margin: 0 auto 2rem;
}

.socialMedia {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
}
.socialMedia__icon {
  width: clamp(3.5rem, 11vw, 9rem);
  height: clamp(3.5rem, 11vw, 9rem);
}

.techStack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 8rem 0 10rem;
}
.techStack__img {
  width: clamp(5rem, 20.5vw, 18rem);
  filter: drop-shadow(0 15px 10px rgba(0, 0, 0, 0.6));
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1E2020;
  padding: 2rem;
  gap: 1rem;
}
.footer__copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: #f0f0f0;
  padding: 3rem 2rem 0;
}
.main > * {
  margin-bottom: 4rem;
}
.main__aboutSection {
  position: relative;
  z-index: 100;
}
.main__aboutSection::after {
  content: "";
  background: url(/img/backgroundImages/final-about-background-photo.webp);
  background-size: clamp(calc(5rem + 20vh), 35vw, calc(25rem + 20vh));
  background-repeat: no-repeat;
  background-position: 50% calc(18vw + 5vh);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}
.main__portfolioSection {
  background-color: #f0f0f0;
}
.main__skillsSection {
  background-color: #f0f0f0;
}
.main__contactSection .contactItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 320px) {
  .main__contactSection .contactItem {
    flex-direction: column;
    margin-bottom: 4.5rem;
  }
}
.main__contactSection #internetItem {
  margin-bottom: 5rem;
}

.navbarSection {
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: #1E2020;
  padding: 0.75rem clamp(2rem, 6.5vw, 4rem);
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: all 0.6s;
}

.navbar--background {
  background: linear-gradient(to bottom right, #cd4536 5%, rgba(114, 37, 29, 0.8) 20%, rgba(3, 66, 124, 0.9) 75%, rgba(85, 245, 255, 0.6));
  border-bottom: 1px solid #d7d7d7;
}

body {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  gap: 0;
}

/*# sourceMappingURL=styles.css.map */
