// primary colors
$cp-green: #6CB347;
$cp-darkGreen: #3E6629;
$cp-red: #CD4536;
$cp-darkRed: #800d00;
$cp-blue: #1e5377;
$cp-darkBlue: #012e4c;
$cp-dark: #1E2020;
$cp-darkGrey: #6d6d6d;
$cp-grey: #8f8f8f;
$cp-lightGrey: #bfbfbf;
$cp-light: #ededed;
$cp-white: #f0f0f0;

$indexBgColor: #63d426;
$indexBorderColor: #44c300;

// font colors
$cf-green: #6CB347;
$cf-darkGreen: #225f01;
$cf-red: #CD4536;
$cf-darkRed: #800d00;
$cf-blue: #00538a;
$cf-darkBlue: #012e4c;
$cf-dark: #1E2020;
$cf-darkGrey: #3e3e3e;
$cf-grey: #898989;
$cf-lightGrey: #d7d7d7;
$cf-white: #f0f0f0;


// font-size
$fs-h1: 3rem;
$fs-h2: 2.5rem;
$fs-h3: 2rem;
$fs-h4: 1.5rem;
$fs-btn: 1.5rem;
$fs-p: 1rem;

// border-radius
$br-sm: .25rem;
$br-m: .5rem;
$br-l: 1rem;

// box-shadow
$bs-dark: 0 0 5px 2px rgba(0, 0, 0, .4);
$bs-btn: 0px 1px 2px 1px rgba(0, 0, 0, .5);
$bs-btnHover: 0px 8px 40px 3px rgba(0, 0, 0, .7);

//margin
$mb-section: 4rem;
$mb-h1: 4rem;
$mb-btn: 4rem;
$mb-h2: 2rem;
$mb-h3: 1.5rem;
$mb-h4: 1rem;
$mb-p: 1rem;


// linear-gradient
// $lingrad-cardPhotoBg: linear-gradient(155deg, rgba($cp-darkGreen, 1) 5%, rgba($cp-green, 1) 35%, rgba($cp-white, 1) 75%);
$lingrad-cardPhotoBg: linear-gradient(135deg, rgba($cp-darkBlue, 1) 35%, rgba($cp-darkBlue, .85) 55%, rgba($cp-darkBlue, .65) 75%, rgba($cp-darkBlue, .45) 85%, rgba($cp-white, .25));
$lingrad-cardPhotoOl: linear-gradient(0deg, rgba($cp-dark, .75) 8%, rgba($cp-dark, .45) 25%, transparent 50%);

$lingrad-cardPhotoBackBg: linear-gradient(135deg, rgba($cp-darkBlue, 1) 35%, rgba($cp-darkBlue, .85) 55%, rgba($cp-darkBlue, .65) 75%, rgba($cp-darkBlue, .45) 85%, rgba($cp-white, .25));



