.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: $cp-dark;
    padding: 6rem 2rem 0rem;

    & > * {
        margin-bottom: 4rem;
    }

    &__figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &--img {
            border: 5px solid $cp-white;
            border-radius: 50%;
            box-shadow: $bs-dark;
            width: clamp(8rem, 40vw, 18rem);
        }
    }
}