.header {
    background: conic-gradient(
                from 45deg at 107% -12%, 
                rgba($cp-blue, .75) 115deg, 
                rgba($cp-dark, .2), 
                rgba($cp-red, .75) 215deg),
                url(../../img/hero/hero-background-img.webp);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 400px) {
        background: conic-gradient(
                from 45deg at 107% -7%, 
                rgba($cp-blue, .75) 123deg, 
                rgba($cp-dark, .2), 
                rgba($cp-red, .75) 215deg),
                url(../../img/hero/hero-background-img.webp);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media (min-width: 500px) {
        background: conic-gradient(
                from 45deg at 107% -7%, 
                rgba($cp-blue, .75) 135deg, 
                rgba($cp-dark, .2), 
                rgba($cp-red, .75) 215deg),
                url(../../img/hero/hero-background-img.webp);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }

    min-height: 100vh;

    padding: 7.5rem clamp(2rem, 6.5vw, 4rem) 4rem;

    &__navbar {
        margin-bottom: calc(10vh - 5rem);
    }
    
    &__hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > * {
            margin-bottom: calc(10vh - 2.8rem);

            @media (min-height: 640px) {
                margin-bottom: calc(10vh - 4rem);
            }
        }
        
        .figure {
            margin-bottom: calc(6vh - 3.5rem);

            @media (min-height: 640px) {
                margin-bottom: calc(6vh - 4rem);
            }

            &__img {
                border: 5px solid $cp-white;
                border-radius: 50%;
                box-shadow: 3px 7px 5px 5px rgba(0, 0, 0, .3);
                width: clamp(calc(8rem + 15vh - 4rem), 55vw, calc(18rem + 20vh - 12rem));
            }
        }

        .primaryHeading {
            & > * {
                display: block;
            }

            &__subheading {
                margin-bottom: calc(10vh - 2.8rem);

                @media (min-height: 640px) {
                    margin-bottom: calc(10vh - 4rem);
                }
            }
        }

        .cta {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            @media (min-width: 450px) {
                flex-direction: row;
                gap: 2rem;
            }
            justify-content: center;
            align-items: center;

            width: 100%;
        }
    } 
}
