.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    gap: 5rem;

    padding: 2rem 1rem 0;
    
    &__aboutSection {
    }
}

.aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    gap: 3rem;

    &__ourBusiness {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        gap: 1.25rem;
    }

    &__ourTeam {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        gap: 2rem;
    }

    &__pharmacyTeam {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        gap: 1rem;
    }

    &__teamPhotoContainer {
        background: linear-gradient(to bottom, transparent 5%, rgba($cp-dark,.1) 55%, rgba($cp-darkBlue,.6) 80%, rgba($cp-darkBlue,.75) 90%, rgba($cp-darkBlue,1)), url("../img/staff/ProteaPharmacyTeam.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        border-radius: 5px;
        box-shadow: 0 0 6px 1px rgba($cp-darkBlue, .6);
        
        width: 100%;
        height: 15rem;
    }
}

.dispensarySection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    gap: 3rem;

    // &__paragraph--dispensary {
    //     // background: radial-gradient(at 72% 12rem, rgba($cp-white, .5) 18%, rgba($cp-white, .9) 22%, rgba($cp-white, 1) 35%);

    //     padding: 2.5rem;

    //     position: relative;
    // }

    // &__paragraph--dispensary::after {
    //     content: "";

    //     // background: radial-gradient(at 72% 12rem, rgba($cp-white, .5) 18%, rgba($cp-white, .9) 22%, rgba($cp-white, 1) 35%), url("../img/dispensary/ProteaApteekDispensary.webp");
    //     background: url("../img/dispensary/ProteaApteekDispensary.webp");
    //     background-size: 10rem;
    //     background-repeat: no-repeat;
    //     background-position-x: 50%;
    //     background-position-y: 50%;

    //     width: 40%;
    //     height: 40%;

    //     position: absolute;
    //     top: 50%;
    //     left: 50%;

    //     z-index: -100;
    // }

    // &__paragraph--counterMeds {
    //     background: radial-gradient(ellipse at center, rgba($cp-white, 0) 3%, rgba($cp-white, .25) 11%, rgba($cp-white, .55) 18%, rgba($cp-white, .8) 20%, rgba($cp-white, 1) 28%);
    //     background-size: cover;
    //     padding: 2.5rem;

    //     position: relative;
    // }

    // &__paragraph--counterMeds::after {
    //     content: "";

    //     background: url("../img/dispensary/ProteaApteekOverTheCounterMeds.webp");
    //     background-size: 60rem;
    //     background-repeat: no-repeat;
    //     background-position: center;
        

    //     width: 100%;
    //     min-height: 100%;

    //     position: absolute;
    //     top: 0;
    //     left: 0;

    //     z-index: -100;
    // }

    article {
        max-width: 45rem;
        margin: 0 auto;
    }

    article > *:not(img) {
        margin-bottom: 2rem;
    }

    &__image {
        border: 1px solid $cp-green;
        padding: .75rem;
        shape-outside: element();
    }

    &__image--dispensary {
        float: left;
        margin: 0 2rem .5rem 0;
        width: clamp(8rem, 20vw, 10rem);
    }

    &__image--counterMeds {
        float: right;
        margin: 0 0 .5rem 2rem;
        width: clamp(12rem, 20vw, 15rem);
    }

}

.clinicSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    gap: 3rem;

    // &__hero {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: flex-start;
    //     align-items: stretch;

    //     gap: 1rem;
    // }


    // &__heroPhotoAndContent {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: stretch;

    //     background: linear-gradient(to bottom, rgba($cp-dark, .8) 65%, rgba($cp-dark, .2) 95%), url("../img/clinic/ProteaApteekClinic.webp");
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     background-position: center;

    //     border-radius: $br-m;
    //     box-shadow: 0 0 6px 1px rgba($cp-darkBlue, .6);

    //     padding: 2.5rem;
    // }

    article {
        max-width: 45rem;
        margin: 0 auto;
    }

    article > *:not(img, p) {
        margin-bottom: 2rem;
    }

    &__image {
        border: 1px solid $cp-green;
        padding: .75rem;
        shape-outside: element();
    }

    &__image--clinic {
        float: left;
        margin: 0 2rem .5rem 0;
        width: clamp(13rem, 20vw, 16rem);
    }
}

.importantInfoSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    gap: 3rem;

    article {
        max-width: 45rem;
        margin: 0 auto;
    }

    article > *:not(img, p) {
        margin-bottom: 2rem;
    }

    &__image {
        border: 1px solid $cp-green;
        padding: .75rem;
        shape-outside: element();
    }

    &__image--importantInfo {
        float: left;
        margin: 0 2rem .5rem 0;
        width: clamp(13rem, 20vw, 16rem);
    }


    &__linksList {
        & > * {
            margin-bottom: .75rem;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;

        gap: .25rem;
    }
}

.contactUsSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    & > * {
        margin-bottom: 4rem;
    }

    &__contactNumbersAndEmail {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        margin-bottom: 0;

        & > * {
            margin-bottom: 3rem;
        }
    }

    &__contactDetailsPharmacy, 
    &__contactDetailsPharmacists, 
    &__contactDetailsClinic, 
    &__contactDetailsAccounts, 
    &__contactDetailsMedicalAids {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        gap: 1.5rem;
    }

    &__pharmacist, &__staffMember {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        gap: .25rem;
    }

    &__contactItem {
        display: flex;
        justify-content: center;
        align-items: center;

        gap: .3rem;
    }

    &__contactTradingHours {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        gap:2.5rem;
    }

    &__tradingHoursDetails {
        & > * {
            margin-bottom: .35rem;
        }

        hr {
            background-color: $cp-green;
            border: none;

            width: 100%;
            height: 1px;
        }
    }

    &__contactMap {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        & > * {
            margin-bottom: 3rem;
        }
    }

    &__googleMapsContainer {
        border: 1px solid $cp-green;
        box-shadow: $bs-dark;
        width: 100%;
    }

    &__googleMaps {
        width: 100%;
        
    }
}