.main {
    background-color: $cp-white;
    padding: 3rem 2rem 0;

    & > * {
        margin-bottom: 4rem;
    }

    &__aboutSection {
        position: relative;
        z-index: 100;
    }

    &__aboutSection::after {
        content: "";
        background: url(/img/backgroundImages/final-about-background-photo.webp);
        background-size: clamp(calc(5rem + 20vh), 35vw, calc(25rem + 20vh));
        background-repeat: no-repeat;
        background-position: 50% calc(18vw + 5vh);

        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: -100;
    }
    
    &__portfolioSection {
        background-color: $cp-white;            
    }

    &__skillsSection {
        background-color: $cp-white; 
    }
        
    

    &__contactSection {
        .contactItem {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            margin-bottom: 1.5rem;

            @media (max-width: 320px) {
                flex-direction: column;
                margin-bottom: 4.5rem;
            }
        }

        #internetItem {
            margin-bottom: 5rem;
        }
    }
}
