.navbarSection {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $cp-darkBlue;

    padding: 1.5rem 1rem;

    position: -webkit-sticky;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;

    z-index: 1000;

    transition: all .6s;

}

.navbar--background {
    background-color: $cp-darkBlue;
    border-bottom: 1px solid $cp-green;
}