.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: .75rem clamp(2rem, 6.5vw, 4rem);

    position: -webkit-sticky;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;

    z-index: 1000;

    transition: all .6s;

}

.navbar--background {
    background: linear-gradient(to bottom right, rgba($cp-red, 1) 5%, rgba($cp-darkRed, .8) 20%, rgba($cp-darkBlue, .9) 75%, rgba($cp-blue, .6));
    border-bottom: 1px solid $cp-lightGrey;
}