.btn:link, .btn:visited {  
    
}

.btn { 
    display: block;
    border: 2px solid $cp-grey;
    border-radius: $br-m;
    box-shadow: $bs-btn;

    width: fit-content;
    margin: 0 auto;

    &--primary-blue {
        border: 1px solid $cp-grey;
        border-radius: $br-sm;
        box-shadow: $bs-btn;
        background-color: $cp-darkBlue;
        width: 100%;
        padding: .55em 2em;
    }

    &--primary-white {
        border: 1px solid $cp-grey;
        border-radius: $br-sm;
        box-shadow: $bs-btn;
        background-color: $cp-darkBlue;
        width: 100%;
        padding: .55em 2em;
    }    
    
    backface-visibility: hidden;
    transition: all .2s;
}

.btn:active {

    border-top-color: $cp-grey;
    border-left-color: $cp-grey;
    border-bottom-color: $cp-lightGrey;
    border-right-color: $cp-lightGrey;
    background-color: $cp-lightGrey;
    box-shadow: none;
    transform: translateY(2px);
}