.btn:link, .btn:visited {  
    display: block;
    border: 2px solid $cp-grey;
    border-radius: $br-m;
    box-shadow: $bs-btn;

    width: fit-content;
    margin: 0 auto;

    &--primary-white {
        background-color: $cp-white;
        padding: .125em 1em;
    }

    &--primary-white-btn {
        background-color: $cp-white;
        padding: .125em 1em;
    }

    &--primary-blue {
        background-color: $cp-darkBlue;
        padding: .125em 1em;
    }

    &--primary-blue-btn {
        background-color: $cp-darkBlue;
        padding: .125em 1em;
    } 

    &--secondary {
        background-color: transparent;
        padding: .075em .75em;
    }

    &--secondary-btn {
        background-color: transparent;
        padding: .075em .75em;
    }
    
    
    backface-visibility: hidden;
    transition: all .2s;
}

.btn { 
    display: block;

    border: 2px solid $cp-grey;
    border-radius: $br-m;
    box-shadow: $bs-btn;

    width: fit-content;
    margin: 0 auto;

    &--primary-white {
        background-color: $cp-white;
        padding: .125em 1em;
    }

    &--primary-white-btn {
        background-color: $cp-white;
        padding: .125em 1em;
    }

    &--primary-blue {
        background-color: $cp-darkBlue;
        padding: .125em 1em;
    }

    &--primary-blue-btn {
        background-color: $cp-darkBlue;
        padding: .125em 1em;
    } 

    &--primary:hover {
        border: 5px solid $cp-white;
        background-color: $cp-grey;
        box-shadow: $bs-btnHover;
        transform: translateY(-3px);
    } 

    &--secondary {
        background-color: transparent;
        padding: .075em .75em;
    }

    &--secondary-btn {
        background-color: transparent;
        padding: .075em .75em;
    }

    &--secondary:hover {
        border: 5px solid $cp-white;
        background-color: $cp-grey;
        box-shadow: $bs-btnHover;
        transform: translateY(-3px);
    }
       
    backface-visibility: hidden;
    transition: all .2s;
    
}

.btn:active {

    border-top-color: $cp-grey;
    border-left-color: $cp-grey;
    border-bottom-color: $cp-lightGrey;
    border-right-color: $cp-lightGrey;
    background-color: $cp-lightGrey;
    box-shadow: none;
    transform: translateY(2px);
}