.contactIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: clamp(.5rem, 6vw, 6rem);

    margin: .25rem .35rem;

    // border-radius: 5px;
    // box-shadow: $bs-dark;

    // padding: 2rem 1rem;

    // transform: translateY(-50%);

    // position: fixed;
    // top: 50%;
    // left: 0;

    // z-index: 200;

    &__icon {
        width: 2.5rem;
    }
}