.contactForm {
  &__namesInputContainer, &__numbersInputContainer {
    @include respond(tab-port) {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    justify-content: center;  

    margin-bottom: 1rem;

    width: 100%;

    input, textarea {
      border-radius: .35rem;
      border: 2px solid $cp-green;
      padding: .5rem;
    }
  }

  &__submitButton {
    margin: 2rem auto;
  }
}