.form {

    padding-bottom: 4rem;
    margin-bottom: 4rem;

    &__inputAndBtnContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;

        background-color: $cp-white;
        border-radius: $br-l;

        padding: 2rem 2rem;
    }

    &__inputContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        padding: 1rem 0;;    
    }

    &__input {
        border: 3px solid $cp-darkBlue;
        width: 100%;
        height: 3.5rem;   
    }

    &__textArea {
        border: 3px solid $cp-darkBlue;
        width: 100%;
        height: 15rem;   
    }

    &__btn {
        margin: 2rem auto;
    }
    

}