.primaryHeading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $cp-darkBlue;

    padding: clamp(1rem, 3vh, 2.5rem) 1rem;
    gap: clamp(1rem, 2.2vh, 2rem);    

    &__headAndBylineContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    &__headlineImage {
        width: clamp(3.3rem, 10vw, 4.2rem);
    }

    &__headline {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        gap: 1rem;    
    }

    &__hr {
        border: none;
        width: 100%;
        height: 1px;

        border-bottom: 1px solid $cp-green;
        
        margin: .25rem 0;
    }

    &__headlineText {
        display: flex;
        justify-content: center;
        align-items: center;

        gap: 1rem;
    }

    &__paragraph {
        max-width: 45rem;

        @include respond(tab-port) {
            max-width: 85%;
        }
    }
}

.headingH2Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // tablet portrait
    @media (min-width: 600px) {
        align-items:flex-start;
    }
     
    position: relative;

    &__headingH2 {

        width: fit-content;
        position: relative;
    }

    &__hr {
        border: 0;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(to right,rgba(0,0,0,0) 2.5%, rgba($cp-darkBlue, 0.4) 20%, rgba($cp-darkBlue, 0.75) 50%, rgba($cp-darkBlue, 0.4) 80%, rgba(0,0,0,0) 97.5%);
        margin: .35rem 0;

        @include respond(tab-port) {
           background-image: linear-gradient(to right,rgba(0,0,0, 1) 2.5%, rgba($cp-darkBlue, 0.9) 20%, rgba($cp-darkBlue, 0.75) 50%, rgba($cp-darkBlue, 0.4) 80%, rgba(0,0,0,0) 97.5%); 
           width: 70%;
        }
    }

    &__subheadingH2 {
    }

    &__headingH2--about::after {
        content: "";

        background: url('../img/headingH2Icons/PeopleIcon.svg');
        background-color: red;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;


        width: 10rem;
        height: 10rem;

        position: absolute;
        top: -120%;
        left: 50%;

        // tablet portrait 
        @media (min-width: 600px) {
            left: 8rem;
        }

        transform: translateX(-50%);

        z-index: -100;

        @media (min-width: 400px) {
            top: -80%;
        }
    }

    &__headingH2--dispensary::after {
        content: "";

        background: url('../img/headingH2Icons/PillIcon.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;


        width: 11rem;
        height: 11rem;

        position: absolute;
        top: -120%;
        left: 50%;

        // tablet portrait 
        @media (min-width: 600px) {
            left: 8rem;
        }

        transform: translateX(-50%);

        z-index: -100;

        @media (min-width: 420px) {
            top: -90%;
        }
    }  

    &__headingH2--clinic::after {
        content: "";

        background: url('../img/headingH2Icons/StethoscopeIcon.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;


        width: 11rem;
        height: 11rem;

        position: absolute;
        top: -120%;
        left: 50%;

        // tablet portrait 
        @media (min-width: 600px) {
            left: 8rem;
        }

        transform: translateX(-50%);

        z-index: -100;

        @media (min-width: 420px) {
            top: -90%;
        }
    }

    &__headingH2--info::after {
        content: "";

        background: url('../img/headingH2Icons/LinkIcon.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;


        width: 11rem;
        height: 11rem;

        position: absolute;
        top: -120%;
        left: 50%;

        // tablet portrait 
        @media (min-width: 600px) {
            left: 8rem;
        }

        transform: translateX(-50%);

        z-index: -100;

        @media (min-width: 420px) {
            top: -90%;
        }
    }

    &__headingH2--contact::after {
        content: "";

        background: url('../img/headingH2Icons/PhoneIcon.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;


        width: 11rem;
        height: 11rem;

        position: absolute;
        top: -120%;
        left: 50%;

        // tablet portrait 
        @media (min-width: 600px) {
            left: 8rem;
        }

        transform: translateX(-50%);

        z-index: -100;

        @media (min-width: 420px) {
            top: -90%;
        }
    }    
}

.headingH3Container {
    position: relative;

    &__br--counterMeds {
        @include respond(tab-port) {
            display: none;
        }
    }
}

.headingContainerSlider {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    // tablet portrait
    @media (min-width: 600px) {
        justify-content: flex-start;
    }

    align-items: center;

    gap: .5rem;



    margin-bottom: .5rem;
	
	&__headingH4 {
		
	}

	&__headingH5 {
		
	}
}
