.heroSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: linear-gradient(135deg, $cp-white 45%, $cp-blue);
        
        padding: 0 0 1rem 0;
        gap: .5rem;
    }