.imageSlider {
    &__slideContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        gap: .75rem;
    }

    &__slider {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        gap: 1rem;

        padding: 1rem 0;
        overflow: hidden;

        width: 100%;
        min-height: clamp(24rem, 49vh, 35rem);
    }

    &__slide {
        box-shadow: 0px 0px 12px 1px rgba($cp-dark, .4);
        padding: 1.5rem;
        width: min(35rem, 92%);
        height: fit-content;
    }

    &__image {
        float: left;
        background: linear-gradient(135deg, rgba($cp-white, .6) 10%, rgba($cp-green, .9) 60%, rgba($cp-darkGreen, 1) 95%);
        border: 2px solid $cp-white;
        border-radius: 50%;
        box-shadow: -3px 3px 8px 1px rgba($cp-dark, .6);
        width: 9rem;
        height: auto;
        margin: .85rem .75rem .75rem 0;
        shape-outside: circle();
    }

    &__clearFix {
        clear: both;
    }

    &__sliderNavigation {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0 auto;
        width: 75%;
    }

    &__dotsContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        gap: 1rem;
    }

    &__dot {
        background-color: $cp-darkBlue;
        border-radius: 100%;
        width: .85rem;
        height: .85rem;

        transition: all 2s;
    }

    &__dot--1 {
        background-color: $cp-darkRed;
    }

    &__icon {
        width: 2rem;
        height: 2rem;
    }
}

.animateCurrentSlide {
    animation: animateSlide 12s linear forwards;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}
