// .imageSlider {

//     &__imageSliderContainer {
//         margin: 0 auto;
//         width: min(100%, 42rem);

//         @include respond(tab-port) {
//             width: min(100%, 465rem);
//         }

//         @include respond(tab-land) {
//             width: min(100%, 50rem);
//         }

//         @include respond(desk) {
//             width: min(100%, 70rem);
//         }

//         @include respond(big-desk) {
//             width: min(100%, 85rem);
//         }
//     }

//     &__slidesContainer {
//         display: flex;
//         justify-content: flex-start;
//         align-items: center;

//         gap: 1rem;

//         margin-bottom: 1rem;

//         @media (min-width: 280px) {
//             min-height: 26.5rem;
//         }

//         @media (min-width: 320px) {
//             min-height: 26rem;
//         }

//         @media (min-width: 400px) {
//             min-height: 25rem;
//         }

//         overflow: hidden;
//     }

//     &__image {
//         float: left;
//         background: linear-gradient(135deg, rgba($cp-white, 1) 5%, rgba($cp-green, 1) 45%, rgba($cp-darkGreen, 1) 85%);
//         border: 2px solid $cp-white;
//         border-radius: 100%;
//         box-shadow: -3px 3px 7px 2px rgba($cp-dark, .6);
//         shape-outside: margin-box;
//         margin: 1rem;
//         width: min(42%, 17rem);
        
//     }

//     &__navContainer {
//         position: relative;
//     }

//     &__indexContainer {
//         display: flex;
//         justify-content: space-evenly;
//         align-items: center;

//         gap: .5rem;

//         width: min(70%, 250px);

//         position: absolute;
//         top: 50%;
//         left: 50%;
        
//         transform: translate(-50%, -50%);
//     }

//     &__index {
//         background-color: $cp-darkBlue;
//         border-radius: 8px;
//         width: 6px;
//         height: 6px;
//     }

//     &__btnsContainer {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         width: min(90%, 320px);

//         position: absolute;
//         top: 50%;
//         left: 50%;
        
//         transform: translate(-50%, -50%);
//     }

//     &__btnContainer {
//         display: flex;
//         justify-content: center;
//         align-items: center;

//         padding: 0;
//         margin: 0;
//     }

//     &__leftArrowBtn, &__rightArrowBtn {
//         width: 2.2rem;
//         height: 2.2rem;
//     }
// }



// .imageSlider__slide {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

// .imageSlider__slide > * {
//     margin-bottom: 1rem;
// }

// .imageSlider__slideHeading {
//     font-size: 3rem;
//     letter-spacing: 2px;
//     text-decoration: underline;
//     text-underline-offset: 2px;
// }

// .imageSlider__slideImage {
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     border-radius: .5rem;
//     box-shadow: 0 0 7px 3px rgba(3, 3, 3, .4);
//     background-color: darkgoldenrod;

//     margin: 0 auto;
//     margin-bottom: 1rem;
    
//     width: 45rem;
//     height: 20rem;
// }

// .imageSlider__slideDescription {

// }



// .displayBlock {
//     display: block;
// }

// .displayNone {
//     display: none;
// }

// .animateSlideMifL {
//     animation: slideMoveInFromLeft 1s linear forwards;    
// }

// .animateSlideMifR {
//     animation: slideMoveInFromRight 1s linear forwards;    
// }

// .animateSlideMotL {
//     animation: slideMoveOutToLeft 1s linear forwards;    
// }

// .animateSlideMotR {
//     animation: slideMoveOutToRight 1s linear forwards;    
// }