.logo {
    display: flex;
    align-items: flex-end;

    gap: .5rem;

    // position: relative;
    // z-index: 100;

    &__img {        
        display: block;
        height: auto;
        width: 2.2rem;
    }

    &__text {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        gap: .5rem;
    }
}