.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: .25rem;

    // position: relative;
    // z-index: 100;

    &__img {        
        display: block;
        height: auto;
        width: clamp(calc(3.75rem + 1.8vw), 3.5vh, calc(4.75rem + 1.8vw));
    }

    &__text {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        gap: .5rem;
    }
}