.logoAndNumbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: clamp(.12rem, 3vw, 4rem);


    position: relative;
    z-index: 100;
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;

    &__landlineContainer, &__whatsappContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        
        gap: .275rem;
    }

    &__icon {
        height: 14px;
        width: 14px;
    }
}

.contactIconsContainer {
    order: 2;

}

.hamburgerBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: none;
    background-color: transparent;

    width: 3rem;
    height: 4.6rem;

    padding: 0;
    margin: 0;

    cursor: pointer;
    
    position: relative;
    z-index: 100;

    backface-visibility: hidden;

    &__hamburgerBar {
        background-color: $cp-white;
        width: 100%;
        height: 3px;
    }

    &__hamburgerBar--top,
    &__hamburgerBar--middle,
    &__hamburgerBar--bottom {
        position: absolute;
        left: 0;
    }

    &__hamburgerBar--top { 
        top: 32%;
        transition: all .5s;
    }

    &__hamburgerBar--middle { 
        top: 50%;
        transition: opacity 3s;
    }

    &__hamburgerBar--bottom {
        top: 67%;
        transition: all .5s;
    }

    &__hamburgerBar--transparent {
        opacity: 0;
        transition: all 0s;
    }

    &:hover > &__hamburgerBar--top {
        transform: translateY(-2px);
    }

    &:hover > &__hamburgerBar--bottom {
        transform: translateY(2px);
    }

    .navbarSection > & > &__hamburgerBar--right {
    transform: rotate(135deg);
    height: 4px;
    top: 50%;
    }

    .navbarSection > & > &__hamburgerBar--left {
    transform: rotate(-135deg);
    height: 4px;
    top: 50%;
    }

}   

.navList--displayNone {
    display: none;
}

.navList--display {
    display: flex;
}

.navList {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: $cp-lightGrey;

    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 15rem 3rem;

    position: absolute;
    top: 0px;
    left: 0px;

    opacity: 1;

    z-index: 0;

    &__navItem {
         margin-bottom: 1rem;
    }

    &__navLink {
        display: flex;
        justify-content: center;
        align-items: center;

        gap: .5rem;

        position: relative;
        z-index: 100;
        transition: all .4s;
    }

    &__navLink::after {
        content: "";
        background-color: $cp-darkBlue;
        
        height: 2px;
        width: 99%;
        
        position: absolute;
        bottom: -2px;
        left: 0;
        z-index: -100;
        
        transform: scaleX(0);
        transform-origin: center;

        transition: transform 0s;
    }

    &__navLink:hover::after {
        transform: scaleX(1);
        transition: .4s ease-in;
    }

    &__navLink:hover {
        animation: animateNavLink .4s ease-in 1 forwards;
    }

    .navFrame {
        background-color: $cp-darkBlue;
        border-bottom: 1px solid $cp-green;

        // padding: .75rem clamp(2rem, 6.5vw, 4rem);

        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        z-index: 100;


    }

    &__icon {
        background-color: transparent;
        height: 16px;
        width: 16px;

        &--rightArrow {
            height: 12px;
            width: 12px;
        }
    }
}

.navListSecondary {
    flex: 1 0 auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 1.25rem 1rem;
    gap: .55rem;

    @media (min-width: 400px) and (max-height: 800px) {
        flex-wrap: wrap;
        flex-direction: row;
        gap: .55rem;
        column-gap: 3rem;

    
        width: min(100%, 40rem);
        max-height: 110px;

        padding: .5rem 1rem;
        margin: auto auto;
    }

    @media (min-width: 500px) and (max-height: 800px) {
        
        gap: .55rem;
        column-gap: 3rem;

    
        width: min(100%, 52rem);
    }

    @media (min-width: 600px) and (max-height: 800px) {
        
        gap: .55rem;
        column-gap: 3rem;

    
        width: min(100%, 70rem);
    }

    @media (min-width: 750px) and (max-height: 800px) {
        
        gap: .35rem;
        column-gap: 2.25rem;

    
        width: min(90%, 80rem);
    }

    @media (min-width: 900px) and (max-height: 800px) {
            
        width: min(90%, 100rem);
    }

    @media (min-width: 1200px) and (min-height: 800px) {

        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        
        gap: 8rem;
        row-gap: 2rem;
        

        width: 85%;
        max-height: 210px;

        margin: auto auto;
    }

    &__navItem {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: 600px) and (max-height: 750px) {
            margin-right: 2rem;
            margin-bottom: .25rem;
        }
    }

    &__navLink {
        display: flex;
        justify-content: center;
        align-items: center;
        
        gap: .5rem;

        position: relative;
        z-index: 100;
        transition: all .4s;
    }

    &__navLink::after {
        content: "";
        background-color: $cp-darkBlue;
        height: 2px;
        width: 99%;
        
        position: absolute;
        bottom: -2px;
        left: 0;
        z-index: -100;
        
        transform: scaleX(0);
        transform-origin: center;

        transition: transform 0s;
    }

    &__navLink:hover::after {
        transform: scaleX(1);
        transition: .4s ease-in;
    }

    &__navLink:hover {
        animation: animateNavLink .4s ease-in 1 forwards;
    }

    &__icon {
        height: clamp(calc(1.2rem + 1vw), 1.6vh, calc(2.5rem + 1vw));
        width: clamp(calc(1.2rem + 1vw), 1.6vh, calc(2.5rem + 1vw));

        @media (min-height: 800px) {
            height: clamp(calc(1.2rem + 1vw), 2.6vh, calc(2.5rem + 1vw));
            width: clamp(calc(1.2rem + 1vw), 2.6vh, calc(2.5rem + 1vw));
        }
    }
}

.navList--navListMoveIn {
  animation: animateNavListContainerMoveIn .4s ease-out forwards;
}

 .navList--navListMoveOut {
  animation: animateNavListContainerMoveOut .4s ease-out .8s forwards;
}

.navItem--moveIn {
  animation: animateNavItemsMoveIn .4s ease-out forwards;
}

.navItem--moveOut {
  animation: animateNavItemsMoveOut .3s ease-in forwards;
} 

