.paragraph {
    margin: 0 auto 2rem;
}

.paragraph:last-of-type {
    margin: 0 auto 4rem;
}

.cardSkills .paragraph--skills {
    margin: 0 auto 0;
}

.contactSection .paragraph:last-of-type {
    margin: 0 auto 1rem;
}

.contactSection__contactItem > .contactItem__paragraph.paragraph {
    // background-color: magenta;
    margin: 0;
}

#portfolioParagraph {
    margin: 0 auto 2rem;
}

