.pharmacyDepartment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    gap: 1.25rem;

    &__hr {
        border: none;
        height: 1px;
        background: linear-gradient(to right, transparent, rgba($cp-green, .4) 15%, rgba($cp-green, 1) 40%, $cp-darkGreen, rgba($cp-green, 1) 60%, rgba($cp-green, .4) 85%, transparent);
    }
}