.photoCollageContainer {
        margin: 2rem auto 4rem;
}

.photoCollage {
    display: grid;
    
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 125vw) repeat(7, 65vw);

    gap: 2rem;
    
    width: 100%;
    height: 100%;

    padding: 1rem;
    margin: 0 auto;

    @media (min-width: 350px) {
        grid-template-columns: repeat(6, 3.5rem);
        grid-template-rows: repeat(2, 43.75rem) repeat(7, 22.5rem);

        width: min(100%, 35rem); 
        margin: 0 auto;   
    }

    @include respond(tab-port) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(1, 60vw) repeat(5, 35vw);

        width: 100%;
        margin: 0 auto;   
    }

    @include respond(tab-land) {
        grid-template-columns: repeat(6, clamp(12rem, 13.2vw, 16rem));
        grid-template-rows: repeat(4, clamp(18rem, 22vw,  22rem));

        width: min(100%, 90rem); 
        margin: 0 auto 0 0; 
    }

    @include respond(desk) {
        grid-template-columns: repeat(7, clamp(11rem, 11.25vw, 15rem));
        grid-template-rows: repeat(3, clamp(14rem, 14vw,  18rem));

        width: 100%; 
        margin: 0 auto 0 0; 
    }

    &__cardPhotoContainer {        
        perspective: 1200px;
    }

    &__cardPhotoContainer--container1 {
        grid-column: 1 / -1;
        grid-row: 1 / span 1;
    }

    &__cardPhotoContainer--container2 {
        grid-column: 1 / -1;
        grid-row: 2 / span 1;
    }

    &__cardPhotoContainer--container3 {
        grid-column: 1 / span 3;
        grid-row: 3 / span 1;
    }

    &__cardPhotoContainer--container4 {
        grid-column: 4 / span 3;
        grid-row: 3 / span 1;
    }

    &__cardPhotoContainer--container5 {
        grid-column: 1 / span 3;
        grid-row: 4 / span 1;
    }

    &__cardPhotoContainer--container6 {
        grid-column: 4 / span 3;
        grid-row: 4 / span 1;
    }

    &__cardPhotoContainer--container7 {
        grid-column: 1 / span 3;
        grid-row: 5 / span 1;
    }

    &__cardPhotoContainer--container8 {
        grid-column: 4 / span 3;
        grid-row: 5 / span 1;
    }

    &__cardPhotoContainer--container9 {
        grid-column: 1 / span 3;
        grid-row: 6 / span 1;
    }

    &__cardPhotoContainer--container10 {
        grid-column: 4 / span 3;
        grid-row: 6 / span 1;
    }

    &__cardPhotoContainer--container11 {
        grid-column: 1 / span 3;
        grid-row: 7 / span 1;
    }

    &__cardPhotoContainer--container12 {
        grid-column: 4 / span 3;
        grid-row: 7 / span 1;
    }

    &__cardPhotoContainer--container13 {
        grid-column: 1 / span 3;
        grid-row: 8 / span 1;
    }

    &__cardPhotoContainer--container14 {
        grid-column: 4 / span 3;
        grid-row: 8 / span 1;
    }

    &__cardPhotoContainer--container15 {
        grid-column: 1 / span 3;
        grid-row: 9 / span 1;
    }

    @include respond(tab-port) {
        &__cardPhotoContainer--container1 {
            grid-column: 1 / span 3;
            grid-row: 1 / span 1; 
        }

        &__cardPhotoContainer--container2 {
            grid-column: 4 / span 3;
            grid-row: 1 / span 1; 
        }

        &__cardPhotoContainer--container3 {
            grid-column: 1 / span 2;
            grid-row: 2 / span 1; 
        }

        &__cardPhotoContainer--container4 {
            grid-column: 3 / span 2;
            grid-row: 2 / span 1; 
        }

        &__cardPhotoContainer--container5 {
            grid-column: 5 / span 2;
            grid-row: 2 / span 1; 
        }

        &__cardPhotoContainer--container6 {
            grid-column: 1 / span 2;
            grid-row: 3 / span 1; 
        }

        &__cardPhotoContainer--container7 {
            grid-column: 3 / span 2;
            grid-row: 3 / span 1; 
        }

        &__cardPhotoContainer--container8 {
            grid-column: 5 / span 2;
            grid-row: 3 / span 1; 
        }

        &__cardPhotoContainer--container9 {
            grid-column: 1 / span 2;
            grid-row: 4 / span 1; 
        }

        &__cardPhotoContainer--container10 {
            grid-column: 3 / span 2;
            grid-row: 4 / span 1; 
        }

        &__cardPhotoContainer--container11 {
            grid-column: 5 / span 2;
            grid-row: 4 / span 1; 
        }

        &__cardPhotoContainer--container12 {
            grid-column: 1 / span 2;
            grid-row: 5 / span 1; 
        }

        &__cardPhotoContainer--container13 {
            grid-column: 3 / span 2;
            grid-row: 5 / span 1; 
        }

        &__cardPhotoContainer--container14 {
            grid-column: 5 / span 2;
            grid-row: 5 / span 1; 
        }

        &__cardPhotoContainer--container15 {
            grid-column: 1 / span 2;
            grid-row: 6 / span 1; 
        }   
    }

    @include respond(tab-land) {
        &__cardPhotoContainer--container1 {
            grid-column: 1 / span 2;
            grid-row: 1 / span 2; 
        }

        &__cardPhotoContainer--container2 {
            grid-column: 3 / span 2;
            grid-row: 1 / span 2; 
        }

        &__cardPhotoContainer--container3 {
            grid-column: 5 / span 1;
            grid-row: 1 / span 1; 
        }

        &__cardPhotoContainer--container4 {
            grid-column: 6 / span 1;
            grid-row: 1 / span 1; 
        }

        &__cardPhotoContainer--container5 {
            grid-column: 5 / span 1;
            grid-row: 2 / span 1; 
        }

        &__cardPhotoContainer--container6 {
            grid-column: 6 / span 1;
            grid-row: 2 / span 1; 
        }

        &__cardPhotoContainer--container7 {
            grid-column: 1 / span 1;
            grid-row: 3 / span 1; 
        }

        &__cardPhotoContainer--container8 {
            grid-column: 2 / span 1;
            grid-row: 3 / span 1; 
        }

        &__cardPhotoContainer--container9 {
            grid-column: 3 / span 1;
            grid-row: 3 / span 1; 
        }

        &__cardPhotoContainer--container10 {
            grid-column: 4 / span 1;
            grid-row: 3 / span 1; 
        }

        &__cardPhotoContainer--container11 {
            grid-column: 3 / span 1;
            grid-row: 4 / span 1; 
        }

        &__cardPhotoContainer--container12 {
            grid-column: 5 / span 1;
            grid-row: 3 / span 1; 
        }

        &__cardPhotoContainer--container13 {
            grid-column: 2 / span 1;
            grid-row: 4 / span 1; 
        }

        &__cardPhotoContainer--container14 {
            grid-column: 1 / span 1;
            grid-row: 4 / span 1; 
        }

        &__cardPhotoContainer--container15 {
            grid-column: 6 / span 1;
            grid-row: 3 / span 1; 
        }   
    }

    @include respond(desk) {
        &__cardPhotoContainer--container1 {
            grid-column: 1 / span 2;
            grid-row: 1 / span 2; 
        }

        &__cardPhotoContainer--container2 {
            grid-column: 3 / span 2;
            grid-row: 1 / span 2; 
        }

        &__cardPhotoContainer--container3 {
            grid-column: 5 / span 1;
            grid-row: 1 / span 1; 
        }

        &__cardPhotoContainer--container4 {
            grid-column: 6 / span 1;
            grid-row: 1 / span 1; 
        }

        &__cardPhotoContainer--container5 {
            grid-column: 7 / span 1;
            grid-row: 1 / span 1; 
        }

        &__cardPhotoContainer--container6 {
            grid-column: 5 / span 1;
            grid-row: 2 / span 1; 
        }

        &__cardPhotoContainer--container7 {
            grid-column: 6 / span 1;
            grid-row: 2 / span 1; 
        }

        &__cardPhotoContainer--container8 {
            grid-column: 7 / span 1;
            grid-row: 2 / span 1; 
        }

        &__cardPhotoContainer--container9 {
            grid-column: 1 / span 1;
            grid-row: 3 / span 1; 
        }

        &__cardPhotoContainer--container10 {
            grid-column: 2 / span 1;
            grid-row: 3 / span 1; 
        }

        &__cardPhotoContainer--container11 {
            grid-column: 7 / span 1;
            grid-row: 3 / span 1; 
        }

        &__cardPhotoContainer--container12 {
            grid-column: 3 / span 1;
            grid-row: 3 / span 1; 
        }

        &__cardPhotoContainer--container13 {
            grid-column: 6 / span 1;
            grid-row: 3 / span 1; 
        }

        &__cardPhotoContainer--container14 {
            grid-column: 5 / span 1;
            grid-row: 3 / span 1; 
        }

        &__cardPhotoContainer--container15 {
            grid-column: 4 / span 1;
            grid-row: 3 / span 1; 
        }   
    }

    &__cardPhoto {
        width: 100%;
        height: 100%;
        
        position: relative;
        
        transition: all 0.6s ease;
        transform-style: preserve-3d;
    }

    &__cardPhotoFront, &__cardPhotoBack {
        border-radius: 5px;
        box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);

        width: 100%;
        height: 100%;
           
        position: absolute;
        top: 0;
        left: 0;

        backface-visibility: hidden;
    }

    &__cardPhotoFront {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;

        padding: .75rem;
    }

    &__cardPhotoBack {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        gap: .45rem;

        background-image: $lingrad-cardPhotoBackBg;

        padding: 1rem;
    }

    &__cardPhotoBackFirstAndSecond {
        justify-content: flex-start;
        gap: 2rem;
        
    }

    .rotateCard {
        transform: rotateY(180deg);
    }

    &__cardPhotoBack {
        transform: rotateY(180deg);
    }

    &__cardPhotoBtn {
        order: 1;
    }

    &__cardPhotoBtn::after {
        content: "";
        background-color: $cp-white;
        height: 1px;
        width: 99%;
        
        position: absolute;
        bottom: -2px;
        left: 0;
        
        z-index: -100;
        
        transform: scaleX(0);
        transform-origin: center;

        transition: transform 0s;
    }

    &__cardPhoto:hover &__cardPhotoBtn::after {
        transform: scaleX(1);
        transition: .4s ease-in;
    }

    &__cardPhoto:hover {
        animation: animateNavLink .4s ease-in 1 forwards;
    }

    &__cardPhotoFront--photo1 {
        background-image: $lingrad-cardPhotoOl, url("../img/staff/ProteaPharmacyPieterJones11July2023.webp"), $lingrad-cardPhotoBg;
    }

    &__cardPhotoFront--photo2 {
        background-image: $lingrad-cardPhotoOl, url("../img/staff/ProteaPharmacyCornellLaurens04July2023.webp"), $lingrad-cardPhotoBg;
    }

    &__cardPhotoFront--photo3 {
        background-image: $lingrad-cardPhotoOl, url("../img/staff/ProteaPharmacyPharmacistNinaBriel26June2023.webp"), $lingrad-cardPhotoBg;
    }

    &__cardPhotoFront--photo4 {
        background-image: $lingrad-cardPhotoOl, url("../img/staff/ProteaPharmacyAnzelleBritz26June2023.webp"), $lingrad-cardPhotoBg;
    }

    &__cardPhotoFront--photo5 {
        background-image: $lingrad-cardPhotoOl, url("../img/staff/ProteaPharmacyCorneOlivier26June2023.webp"), $lingrad-cardPhotoBg;
    }

    &__cardPhotoFront--photo6 {
        background-image: $lingrad-cardPhotoOl, url("../img/staff/ProteaPharmacyJoleneRautenbach16Aug2023.webp"), $lingrad-cardPhotoBg; 
    }

    &__cardPhotoFront--photo7 {
        background-image: $lingrad-cardPhotoOl, url("../img/staff/ProteaPharmacyRinaPotgieter11July2023.webp"), $lingrad-cardPhotoBg;
    }

    &__cardPhotoFront--photo8 {
        background-image: $lingrad-cardPhotoOl, url("../img/staff/ProteaPharmacyLudwigKieck11July2023.webp"), $lingrad-cardPhotoBg; 
    }

    &__cardPhotoFront--photo9 {
        background-image: $lingrad-cardPhotoOl, url("../img/staff/ProteaPharmacyStephnieEngelbrecht11July2023.webp"), $lingrad-cardPhotoBg; 
    }
    &__cardPhotoFront--photo10 {
        background-image: $lingrad-cardPhotoOl, url("../img/staff/ProteaPharmacySindyFourie11July2023.webp"), $lingrad-cardPhotoBg; 
    }
    &__cardPhotoFront--photo11 {
        background-image: $lingrad-cardPhotoOl, url("../img/staff/ProteaPharmacyMarlyneSethole26June2023.webp"), $lingrad-cardPhotoBg; 
    }

    &__cardPhotoFront--photo12 {
        background-image: $lingrad-cardPhotoOl, url("../img/staff/ProteaPharmacyPietMogale26June2023.webp"), $lingrad-cardPhotoBg; 
    }
    &__cardPhotoFront--photo13 {
        background-image: $lingrad-cardPhotoOl, url("../img/staff/ProteaPharmacyJohannaMoshokwa11July2023.webp"), $lingrad-cardPhotoBg; 
    }
    &__cardPhotoFront--photo14 {
        background-image: $lingrad-cardPhotoOl, url("../img/staff/ProteaPharmacyAfrikaMaluleke11July2023.webp"), $lingrad-cardPhotoBg; 
    }

    &__cardPhotoFront--photo15 {
        background-image: $lingrad-cardPhotoOl, url("../img/staff/ProteaPharmacySammyMogale26June2023.webp"), $lingrad-cardPhotoBg; 
    }

    &__cardPhotoIcon {
        height: clamp(calc(1rem + .8vw), 1.3vh, calc(2.4rem + 1vw));
        width: clamp(calc(1rem + .8vw), 1.3vh, calc(2.4rem + 1vw));
    }

    &__cardPhotoBackIcon {
        height: 1.8rem;
        width: 1.8rem;
    }



}

.displayNone {
    display: none;
}