.promotionContainer {
    min-height: 45rem;

    a {
        width: min(100%, 450px);
        margin: 0 auto;
    }


    // &__img {
    //     background-color: white;
    //     // border: 2px solid $cp-green;
    //     border-radius: 10px;
    //     box-shadow: 0 0 30px 15px rgba(white, .93), 0 0 30px 18px rgba($cp-white, 1);


    //     // padding: 2rem 4rem;
    //     padding: 1rem;
    //     margin: 0 auto;

    //     width: 23rem;
    // }
    
    // &__displayBlock {
    //     display: block;
    //     opacity: 0;
    // }

    // &__displayNone {
    //     display: none;
    // }
}

// .animateProduct {
//     animation: productAnimation 5s backwards 1s;
// }






