.radioBtn {
    display: inline-flex;
    justify-content: flex-start;
    background-color: $cp-green;
    border: 2px solid $cp-white;
    border-radius: 12px;

    margin-left: 1rem;
    
    width: 30px;
    height: 16px;

    transition: all 2ss;

    &__radioBtnSwitch {
        background-color: $cp-dark;
        border-radius: 12px;
    
        width: 13px;
        height: 12px;
        transition: all .6s;
    }
}

.radioBtnSwitchClicked {
    background-color: $cp-darkRed;
    transform: translateX(100%);
}