.teamMember {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1.25rem;

    &__img {
        background: linear-gradient(135deg, $cp-white 5%, $cp-green 35%, $cp-darkGreen 65%);

        border: 2px solid $cp-white;
        border-radius: 100%;
        box-shadow: 0 0 6px 1px rgba($cp-darkBlue, .6);

        width: 6rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: .25rem;
    }

    &__name {}

    &__bio {}
}