.techStack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    // background-color: magenta;

    margin: 8rem 0 10rem;

    &__img {
        width: clamp(5rem, 20.5vw, 18rem);
        //box-shadow: 0px 50px 50px 2px rgba(0,0,0, .7);
        filter: drop-shadow(0 15px 10px rgba(0, 0, 0, .6));
    }
}