// basic reset
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// smoothes automatic scroll when you click on a navlink
	scroll-behavior: smooth;
	/* 	1rem is equal to 10px */
	/* 	because 10px / 10 is equal to 1rem */
	/* 	therefore 30px is equal to 3rem */
	/* 	the default font size of the browser is 16px */
	/* 	10px / 16px *100 = 62.5% */
	font-size: 62.5%; // 1rem = 10px

	@include respond(tab-port) {
	/* 	12px / 16px *100 = 75% */
		font-size: 75%; // 1.4rem = 16.8px
	}

	@include respond(tab-land) {
	/* 	13px / 16px *100 = 81.25% */
		font-size: 81.25%; // 1.4rem = 18.2px 
	}

	@include respond(desk) {
	/* 	15px / 16px *100 = 93.75% */
		font-size: 93.75%; // 1.4rem = 21px
	}
	
	@include respond(big-desk) {
	/* 	18px / 16px *100 = 112.5% */
		font-size: 112.5%; // 1.4rem = 25.2px
	}
}

body {
	/* This makes dealing with the sizes of elements much easier, 
		and generally eliminates a number of pitfalls you can stumble on
		 while laying out your content. */
	/* The width and height properties include the content, padding, and border, 
		but do not include the margin.  Note that padding and border will be inside 
		of the box. */
	box-sizing: border-box;
	// for position absolute iro popup component
	position: relative;
}


ol, ul{
	list-style: none;
}


a {
	text-decoration: none;
}
