// center text
.u-center-text {
	text-align: center;
}

// bottom margins
.u-margin-bottom-xtrasmall {
	margin-bottom: .5rem;
}


// top margins
.u-margin-top-xtrasmall {
	margin-top: 1rem;
}



// right margins
.u-margin-right-xtrasmall {
	margin-right: .5rem;
}



